/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: #070a13;
}

.navbar .logo {
  color: #f5c77a;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  color: white;
  text-decoration: none;
  opacity: 0.85;
}

.navbar a:hover {
  opacity: 1;
}

/* PAGES */
.page {
  padding: 80px 10%;
}

.page h1 {
  margin-bottom: 15px;
}

/* FORMS */
.form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.form button {
  background: #f5c77a;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

